* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    background-color: #e5fbef;
    height: 55vh;
}

.about>p {
    margin: 0 1rem;
}

.about>div {
    justify-content: space-around;
    padding: 1rem;
}

.about>h1 {
    padding: 0.4rem 0 0.8rem 0;
    font-size: 1.2rem;
}

button {
    display: inline-block;
    font-weight: 300;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 0.4rem 0.4rem;
    border: 0.1rem solid #2BBD75;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
    background-color: transparent;
    margin: 0.2rem 0.2rem;
}

button:hover {
    background-color: #2BBD75;
    color: #fff;
}

.card {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 1rem;
    flex-wrap: wrap;
}

html {
    font-size: 1rem;
}

footer {
    background-color: #06D861;
    color: #e3e1e1;
}

.footer-icon {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
}

.footer-icon i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.footer-icon a {
    text-decoration: none;
    color: #e3e1e1;
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
}

nav h1 {
    font-size: medium;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.8rem 0;
}

span {
    margin: 0 0.2rem;
    color: #2BBD75;
}

ul {
    display: flex;
    list-style-type: none;
}

ul>li {
    margin-right: 0.8rem;
}

ul>li:hover {
    color: #2BBD75;
}

.center {
    justify-content: center;
}

.card-text p {
    color: #6d6d6d;
}


@media(min-width: 400px) {
    h6 {
        font-size: 1.2rem;
    }
}