* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5fbef;
    height: 55vh;
}

.about>p {
    margin: 0 1rem;
}

.about>div {
    justify-content: space-around;
    padding: 1rem;
}

.about>h1 {
    padding: 0.4rem 0 0.8rem 0;
    font-size: 1.2rem;
}

button {
    display: inline-block;
    font-weight: 300;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 0.4rem 0.4rem;
    border: 0.1rem solid #2BBD75;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
    background-color: transparent;
    margin: 0.2rem 0.2rem;
}

button a {
    text-decoration: none;
    color: #333;
}

button:hover {
    background-color: #2BBD75;
    color: #fff;
}

button a:hover {
    color: #fff;
}

.card {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding-top: 1rem;
    flex-wrap: wrap;
}

html {
    font-size: 1rem;
}

footer {
    background-color: #06D861;
    color: #fff;
}

.footer-icon {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    padding-bottom: 0.4rem;
}

.footer-icon i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.footer-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
}

nav h1 {
    font-size: medium;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.8rem 0;
}

.row i {
    padding: 0.7rem 0;
}

span {
    margin: 0 0.2rem;
    color: #2BBD75;
}

ul {
    display: flex;
    list-style-type: none;
}

ul>li {
    margin-right: 0.8rem;
}

ul>li:hover {
    color: #2BBD75;
}

.center {
    justify-content: center;
}

.card-icon {
    padding: 0.7rem 0;
}

.card-text p {
    color: #6d6d6d;
    padding: 1rem 0;
}

.card-text h2 {
    margin-bottom: 0.5rem;
}

.col {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media(min-width: 400px) {
    h6 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    nav {
        padding: 1.5rem 0.3rem;
    }

    nav h1 {
        font-size: 1.7rem;
    }

    .about {
        height: 55vh;
    }

}

@media(min-width: 800px) {
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    button {
        padding: 1rem, 1rem;
        margin: 1rem 1rem;
    }

    .skills {
        display: flex;
    }

    .col {
        flex-direction: row;
        justify-content: space-between;
    }

    .row i {
        padding: 0.7rem 1rem;
    }
}

@media(min-width: 1200px) {
    .card-icon {
        padding: 1.2rem 0;
    }

    .card-text p {
        padding: 2rem 0;
    }
}